.comment-input {
    display: flex;
    justify-content: space-between;
}

.comment-input-textarea {
    border: none;
    width: 100%;
    resize: none;
    outline: none;
    margin: 8px 0px;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.comment-input button {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 12px;
}

